# Project 1 Cancer Data in Maryland

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the csv file as the starting point
location = "Maryland/By_Number/Maryland_Cancer_Deaths_TopTen_by_Number.csv"

In [8]:
# Read the csv file and save it as a dataframe
df = pd.read_csv(location)

In [9]:
# Look at the beginning of the file
df.head()

,Area,CancerType,Year,Sex,AgeAdjustedRate,CaseCount,Population
0,Maryland,Lung and Bronchus,2016,Male and Female,37.7,2639,6024752
1,Maryland,Female Breast,2016,Male and Female,21.3,829,3104357
2,Maryland,Prostate,2016,Male and Female,20.7,558,2920395
3,Maryland,Colon and Rectum,2016,Male and Female,13.7,949,6024752
4,Maryland,Pancreas,2016,Male and Female,11.2,783,6024752

In [10]:
# Count the number of rows in the file for each column with data
df.count()

Area               10
CancerType         10
Year               10
Sex                10
AgeAdjustedRate    10
CaseCount          10
Population         10
dtype: int64

In [11]:
# Look at the end of the file
df.tail()

,Area,CancerType,Year,Sex,AgeAdjustedRate,CaseCount,Population
5,Maryland,Ovary,2016,Male and Female,6.8,274,3104357
6,Maryland,Liver and Intrahepatic Bile Duct,2016,Male and Female,6.0,451,6024752
7,Maryland,Corpus and Uterus NOS,2016,Male and Female,5.9,237,3104357
8,Maryland,Leukemias,2016,Male and Female,5.9,397,6024752
9,Maryland,Non-Hodgkin Lymphoma,2016,Male and Female,5.0,332,6024752

In [12]:
# Print out the colum headers
print(df.columns.values)
len(df.columns)

['Area' 'CancerType' 'Year' 'Sex' 'AgeAdjustedRate' 'CaseCount'
 'Population']

7

In [13]:
# Print the data types of each column
df.dtypes

Area                object
CancerType          object
Year                 int64
Sex                 object
AgeAdjustedRate    float64
CaseCount            int64
Population           int64
dtype: object